---
layout: default
---

<div class="row">
    <div class="col-sm-12">
        <div class="jumbotron">
            <h1 class="display-3">{{ site.name }}</h1>
            <p class="lead">{{ site.description }}</p>
            
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        {% for post in site.posts %}
        <div class="card">
            <h3 class="card-header">
                <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
                {% if post.subtitle %}
                - <small>{{ post.subtitle }}</small>
                {% endif %}
            </h3>
            <div class="card-block">
                <p class="card-text">{{ post.excerpt }}</p>
                <a href="{{ site.baseurl }}{{ post.url }}" class="btn btn-primary">Read More</a>        
            </div>
            <div class="card-footer text-muted">
                    {{ post.date | date: "%B %e, %Y" }}
            </div>
        </div>
        {% endfor %}
    </div>
</div>